<h3 class="cv-section-title">Professional Experience</h3>
<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign items = site.data.resume.professional_experience | sort: 'startDate' | reverse %}
  {% for content in items %}
    <li class="list-group-item">
      <div class="row">
        <!-- LEFT: date & location (same look as Education) -->
        <div class="col-xs-2 cl-sm-2 col-md-2 text-center date-column">
          {% assign startDate = content.startDate | split: '-' | slice: 0, 2 | join: '.' %}
          {% assign endDate = content.endDate | split: '-' | slice: 0, 2 | join: '.' | default: 'Present' %}
          <table class="table-cv">
            <tbody>
              <tr>
                <td>
                  {% if startDate %}
                    <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px">
                      {{ startDate }} - {{ endDate }}
                    </span>
                  {% endif %}
                </td>
              </tr>
              {% if content.location %}
                <tr>
                  <td>
                    <p class="location">
                      <i class="fa-solid fa-location-dot iconlocation"></i>
                      {{ content.location }}
                    </p>
                  </td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>

        <!-- RIGHT: role, org, summary -->
        <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
          <h6 class="title font-weight-bold ml-1 ml-md-4">
            {% if content.url %}
              <a href="{{ content.url }}">{{ content.position }}</a>
            {% else %}
              {{ content.position }}
            {% endif %}
          </h6>
          <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">
            {{ content.name }}
          </h6>
          {% if content.summary %}
            <div class="ml-1 ml-md-4 small">{{ content.summary }}</div>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
